<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="logForm(n)" #n="ngForm">
    <ion-item>
      <ion-label>Todo</ion-label>
      <ion-input type="text" ngModel name="titre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Description</ion-label>
      <ion-input ngModel name="description"></ion-input>
    </ion-item>
    <button ion-button type="submit" block>Add Todo</button>
  </form>

  <h3>{{todo | json}}</h3>



   <!-- Select image from device photolibrary -->
   <div class="file-upload">
    <span class="text">upload</span>
<!--     <input id="custom-input" type="file" (change)="fileChangeListener($event)">
 --></div>
<img-cropper #cropper [image]="data" [settings]="cropperSettings"></img-cropper>
<br>{{imgUrl}}
<span class="result rounded" *ngIf="data.image" >
    <img [src]="data.image" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight">
</span>
<button ion-button (click)="saveImage()"> Save Image</button>


</ion-content>
