page-depenses {


    .note_en_cours{

    }
  
    .card {
        border-radius: 1rem;
    }

    

    .pull-left{
        float: left;

    }
    .pull-right{
        float: right;
    }
    .miniature{
        
    }
    



    .very-miniature{


    }
    .very-price{
        float:right;
        font-size: 12px;

        
    }
    
    .depenses{
        //padding-bottom: 0px;
        //padding-top:0px;
        //align-items: center;

        .item{
           min-height: 4rem;
           height: 1px;
            //align-items: center;
            
         .item-inner { border-bottom: 1px solid #dedede !important; }
         //not last
              
        }
        .icon {
            //display: inline-block;
           // text-align: center;
            display: flex;
            flex-direction: row;
            align-items: center;
             height: 3rem;;
            width: auto; 
            //vertical-align: middle;

           }
           
           .text{
            font-size: 12px;


        }
        

    }



    .clear {
        clear: both;
      }



}

/*        
display: -webkit-box;
display: -webkit-flex;
display: -moz-box;
display: -moz-flex;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
-moz-align-items: center;
align-items: center;
position: absolute;
top: 0;
height: 100%;
*/