<!--
  Generated template for the DashPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
      <ion-title>Notes de Frais</ion-title>
      <ion-buttons right top>
          <button ion-button *ngIf="!merging; else save" (click)="sort()"><ion-icon name="funnel"></ion-icon></button>
          <button *ngIf="!merging; else save" ion-button icon-only (click)="showOptions($event)"><ion-icon name="add"></ion-icon></button>

          
          <ng-template #save>
            <!--   <button ion-button (click)="makeNote()"><ion-icon name="checkmark"></ion-icon></button>
              <button ion-button (click)="cancelNote()"><ion-icon name="close"></ion-icon></button> -->

          </ng-template>

        </ion-buttons>

    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content>
              <div class="note_en_cours">
                <ion-card  tappable (tap)="goToDetailNote(note_en_cours)" no-padding *ngIf="note_en_cours">
                  <ion-card-title style="text-align:center">
                    Note en cours :
                  </ion-card-title>
                   <h4 style="text-align:center">{{note_en_cours.titre}}</h4>
                  <ion-list *ngFor="let depense of depenses">
                    <ion-grid class="depenses">
                     
                      <ion-item no-padding>
                        <ion-row no-padding>
                          <ion-col col-2>

                            <ion-avatar item-left>
                                <img src='assets/imgs/hotel.png' class="icon" alt="Avatar">
                            </ion-avatar>
                          </ion-col>
                            
                            <ion-col padding>
                              <span class="text">{{depense.titre}}</span>
                              <span  class="very-price">{{depense.path}} €</span>
                              <span  class="very-price">{{depense.path}}</span>


                          </ion-col>
                        </ion-row>
                      </ion-item>
                    </ion-grid>  
                  </ion-list>
                  <ion-item>
                    <span class="pull-right"> TOTAL : {{note_en_cours.montant}} €</span>
                  </ion-item>
                </ion-card>

              </div>

              <br>
              <br>

<!--              <form [formGroup]="myForm">
 --><!--                  <div *ngIf="notes_de_frais; else displayblank">
 -->                <div *ngFor="let note of notes_de_frais" >
            <ion-card (click)="goToDetailNote(note)"> <!-- *ngIf="!CheckedFrais(note)"> -->
              <ion-grid>
                <ion-row>
                  <ion-col col-2>
                    <ion-avatar item-left>
                      <img src='assets/imgs/hotel.png' class="miniature" alt="Avatar">
                    </ion-avatar>
                  </ion-col>
                  <ion-col class="center"> 
                      <h6 class="pull-left" ion-text>{{ note.titre }}</h6>
                      <h6 class="pull-right" ion-text>{{ note.montant | currency:'EUR':true }}</h6>
                  </ion-col> 
                </ion-row>  
                </ion-grid>                 
                  <div class="clear"></div>
              
 
                <!--               <ion-checkbox *ngIf="merging"  item-end (ionChange)="onChange(note, $event.checked)"  [checked]="isChecked(note)"></ion-checkbox> -->
              </ion-card>
              </div>
<!--            </div>
 -->       
<!--      </form>
 --> 
      <ng-template #displayblank>
        <h3>Pas de dépenses</h3>
      </ng-template>

  
    


  </ion-content>
  