<!--
  Generated template for the TabsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>tabs</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <super-tabs>
        <super-tab [root]="page1" [title]="1"></super-tab>
        <super-tab [root]="page2" [title]="2"></super-tab>
        <super-tab [root]="page3" [title]="3"></super-tab>
      </super-tabs>
</ion-content>
