<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic File Navigation
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<!-- 
<ion-item>
  <ion-label>
    <ion-input>

    </ion-input> 
  </ion-label>
</ion-item>>

<ion-item>
  <ion-label>
    <ion-input >

    </ion-input> 
  </ion-label>
</ion-item>>

<ion-item>
  <ion-label>
    <ion-input >

    </ion-input> 
  </ion-label>
</ion-item>> 

<button ion-button (click)="uploadFile()">Upload</button> -->


  <ion-item>
    <p>{{noteForm | json}}</p>
    <button ion-button color="secondary" (click)="getImage()">Get Image</button>
  </ion-item>
  <ion-item>
    <h4>{{imageURI}}</h4>
    <img src="{{imageURI}}"  alt="Ionic File" width="300" />
  </ion-item>
  <ion-item>
    <button ion-button (click)="uploadFile()">Upload</button>
  </ion-item>
  <ion-item>
    <button ion-button (click)="createPdf()">Create PDF</button>
  </ion-item>
  <ion-item>
    <button ion-button (click)="downloadPdf()">Download</button>
  </ion-item>

</ion-content>