<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title> </ion-title>
       <!-- <img src="assets/imgs/jepilote2.png"> -->
     
      
    </ion-navbar>
  </ion-header>
  
  <ion-content>
    <ion-grid>
      <ion-card> 
        <ion-row wrap>
         <div *ngFor="let icon of images">
            <ion-col col-4>
              <div>
                  <img src="{{icon.path}}" (click)="goToSaisie(icon)"> 
                  <p style="text-align:center">{{icon.title}}</p>
              </div>
            </ion-col>
        </div>
      </ion-row>       
      </ion-card>
    </ion-grid>
  </ion-content>