
$colors: (
    primary:    #3399FF,
    secondary:  #00CBB4,
    danger:     #f53d3d,
    light:      #00BDC8,
    dark:       #222
  );

.theme1{
     
.toolbar-background {
  //transition: all 1.1s ease;
    color: #3399FF;
}

ion-content{
    
    color: #3399FF;

.card{
    
  .montant{  
      color: #3399FF;
  }
    h2,h3,h6{
    color: #3399FF;
    
}}  
    .detail{
        color: #3399FF;
}


    .icon-position{
    color: #3399FF;



    }
}
}
            
          