
$colors: (
    primary:    #00ebd0,
    secondary:  #00CBB4,
    danger:     #f53d3d,
    light:      #00BDC8,
    dark:       #222
  );
  
  .theme2{

.toolbar-background {
  //transition: all 1.1s ease;
  background-color: #00CCCC;
}

ion-content{
    
    color: #00CCCC;

.card{
    
  .montant{  
      color: #00CCCC;
  }
h2,h3,h6{
    color: #00CCCC;
    
}
}
.detail{
    color: #00CCCC;
}

.icon-position{
color: #00CCCC;



}

}
}






     



