
	
@import "theme1";
@import "theme2";

// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


/* 
@font-face {
  font-family: 'Segoe UI';
  src: url('../assets/fonts/SegoeUI/segoeui.ttf') format('ttf');
}

  
  $font-family-ios-base:'Segoe UI';
  $font-family-md-base:'Segoe UI';
  $font-family-wp-base:'Segoe UI';

 */
 //$font-family-md-base: "Dosis";

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #3399FF,
  secondary:  #00CBB4,
  danger:     #f53d3d,
  light:      #00BDC8,
  dark:       #222
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here


$toolbar-md-background: color($colors,primary);

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here


$fab-size: 28px;

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

$checkbox-md-icon-border-radius: 50%;
$checkbox-md-icon-size: 12px;


// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
