.ios, .md{
page-notesfrais {


 
        //padding-bottom: 0px;
        //padding-top:0px;
        //align-items: center;

        .card{
            border-radius: 2rem;
            width: 100%;
            display: block;
            margin: auto;
        }

         .item{
           //min-height: 8rem;
           height: 50px;
            //align-items: center; */
         
         .item-inner { border-bottom: 1px solid #dedede !important; }
         //not last

        }
 /*        .icon {
            //display: inline-block;
           // text-align: center;
            display: flex;
            flex-direction: row;
            align-items: center;
             height: 3rem;;
            width: auto; 
            //vertical-align: middle;

           }
           
           .text{
            font-size: 12px;


        } */

        .very-price{
            float: right;
        }
        

    

}
}
