<!--
  Generated template for the NotesfraisPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>notesfrais</ion-title>
  </ion-navbar>
<!--   <ion-toolbar color="light"> 
      <ion-segment>
        <ion-segment-button value="paid">
          Dépenses
        </ion-segment-button>
        <ion-segment-button value="free">
          Notes de Frais
        </ion-segment-button>
     </ion-segment>
  </ion-toolbar> -->

</ion-header>


<ion-content padding>

    <div class="note_en_cours">
        <ion-card  tappable *ngIf="note_en_cours">
           <ion-card-title style="text-align:center">{{note_en_cours.titre}}</ion-card-title>
          <ion-card-content>
           <ion-list *ngFor="let depense of depenses">
            <ion-grid class="depenses">
             
              <ion-item no-padding tappable (tap)="goToDetailDepense(depense)">
                <ion-row no-padding>
                  <ion-col col-2>

                    <ion-avatar item-left>
                        <img src="{{depense.categorie}}" class="icon" alt="Avatar">
                    </ion-avatar>
                  </ion-col>
                    
                    <ion-col padding>
                      <span class="text">{{depense.titre}}</span>
                      <p  class="very-price">{{depense.prix}} €</p>
                      <p>{{depense.date | date}}</p>


                  </ion-col>
                </ion-row>
              </ion-item>
            </ion-grid>  
          </ion-list>
          <ion-item>
            <span class="pull-right"> TOTAL : {{note_en_cours.montant}} €</span>
          </ion-item>
        </ion-card-content>
        </ion-card>

      </div>

</ion-content>
