<!--
  Generated template for the SaisieDepensePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <ion-buttons left>
          <button ion-button icon-only (click)="goToDash()">
            <ion-icon name="close"></ion-icon>
          </button>
      </ion-buttons>
      <ion-title style="text-align:center">Nouvelle Dépense</ion-title>

      <ion-buttons right top>
        <button ion-button icon-only round (click)="logForm()"><ion-icon name="checkmark"></ion-icon></button>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content no-padding>
  <ion-card>
          <div *ngIf="chosenPicture; else displayblank">
             
        <!--      <ion-slides #slider pager oplay="2000" (ionSlideDidChange)="onSlideChanged()" dir="rtl">
               
              <ion-slide *ngFor="let image of images">
                  <img class="imgplaced" [src]="image  || placeholder" onerror="this.src='assets/img/logo.png'" />
              </ion-slide>
            </ion-slides> -->

         <img class="imgplaced"[src]="chosenPicture" />
             
            <button ion-button icon-only class="changeimg" (click)="changePicture()"> <ion-icon name="md-image"></ion-icon></button>
        

        </div> 
   <ng-template #displayblank>
     <ion-card class="blank">
        <button ion-button class="add"  icon-only (click)="changePicture()"><ion-icon name="md-image"></ion-icon></button>
     </ion-card>
        
    </ng-template>
 
 




        <ion-list inset>      
          <form [formGroup]="depenseForm" (ngSubmit)="logForm()">
              <ion-label stacked> Catégories </ion-label>

          <ion-item no-padding>
            <ion-slides #slider slidesPerView= 3 spaceBetween= 16 loop=false (ionSlideDidChange)="onSlideChanged()" dir="rtl">
               
                <ion-slide *ngFor="let categorie of categories">
                 
                 
                        <ion-card no-border class="card-cat" [ngStyle]= "{'box-shadow': categorie.selected === true ? '0px 7px 5px 0px rgb(238, 211, 55)' : 'none'}">
                            <img  (click)="goToSlide(categorie)" 
                                  [src]="categorie.path" 
                                  alt="logo" 
                                  id="logo"
                                
                                  />
                          
                          </ion-card>        
      <!--                             [ngStyle]="{'border': 'categorie.selected==true' ? '2px' 'solid' 'rgba(94, 218, 235, 0)'' : '0px'}"
      -->                <p class="align-text"> {{categorie.titre}}</p>
              
          
                </ion-slide>
            </ion-slides>
          </ion-item>
        
            <ion-item>
                <ion-label stacked> Titre </ion-label>
                <ion-input type="text"  class="form-control" id="titre" formControlName="titre"></ion-input> 
              </ion-item>
<!--             <div *ngIf="titre.touched && titre.errors">
              <div class="alert alert-danger" *ngIf="titre.errors.required">
                The email is required
              </div>
            </div>
            <div *ngIf="titre.errors">
                <div class="alert alert-danger" *ngIf="titre.errors.pattern">
                    The email is not valid
                </div>
            </div> -->
          
        
              <ion-grid>
                  <ion-row>
                    <ion-col>
                      <ion-item no-padding>
                        <ion-label stacked color="primary">Montant</ion-label> 
                        <ion-input no-padding  type="tel" class="form-control" id="prix" formControlName="prix"></ion-input>
                      </ion-item>
                    </ion-col>
                    <ion-col>
                      <ion-item >
                        <ion-label stacked>Date</ion-label>
                        <ion-datetime  displayFormat="MM/DD/YYYY"  class="padding-date" name="date" formControlName="date"></ion-datetime>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              
          </form>
              <ion-item>
                 <ion-label> Refacturable </ion-label>
                 <ion-toggle  checked="false" (click)="toggleButton()"></ion-toggle>
              </ion-item>

            <ion-item>
                <ion-label stacked> Description </ion-label>
                <ion-input  type="text" name="description" ngModel></ion-input> 
            </ion-item>

            <ion-item>
                <ion-label> Taux TVA </ion-label>
                <ion-select name="tva" ngModel>
                  <ion-option value="20">20%</ion-option>
                  <ion-option value="10">10%</ion-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label stacked> Fournisseur </ion-label>
                <ion-input type="text" name="description" ngModel></ion-input> 
            </ion-item>

         
<!--            <expandable>
              <ion-item>
                  Plus de détails
              </ion-item>  
              <ion-item>
                  Plus de détails
              </ion-item>
              <ion-item>
                  Plus de détails
              </ion-item>
            </expandable> -->
      </ion-list>
      <!-- end  vrai form-->

  </ion-card>


</ion-content>

