.ios, .md{
    page-saisie {
        .imgplaced{
            max-height: 170px;
            width: auto;
            display: block;
            margin: auto;
            border-radius: 1rem;
        }
        ion-card{
            border-radius: 1rem;
                //background: linear-gradient(to bottom right, #c23329, rgb(241, 189, 189));                height: 100px;

                .add{
                    border-radius: 50%;
                    //position: relative;
                    display: block !important;
                    margin: auto !important;
                    //text-align: center;
                    height: 40px;
                    width: auto;
                    top:20%;
                }

                .changeimg{
                    border-radius: 50%;
                    height: 40px;
                    width: 40px;
                    z-index: 2;
                    position: absolute;
                    right: 7%;
                    top: 5%;
                    margin: auto;

                }

                .blank{
                    height: 60px;
                    background-color: #66CCCC;
                    width: 100%;
                    margin: auto;
                    box-shadow: none;
                    opacity: 0.8;

                }
            
            
                .selected-img{
                    border: 2px solid rgba(94, 218, 235, 0)
                }

         
            ion-item{ 
                .item-inner { border-bottom: 1px solid #dedede !important; }
                padding: 0px; //not last
              }
            ion-grid, ion-select, ion-col, ion-row{
                padding-left: 0px;
                

            }
            .card-cat{
                border-radius: 100%;
                width: 40px;
                background-color: #00CCCC;
                //box-shadow: 0px 5px 5px 0px rgb(34, 240, 216) ;                
            }
          
       
            
            #logo{
                border-radius: 50%;
                //position: relative;
                display: block !important;
                margin: auto !important;
                //text-align: center;
                height: 40px;
                width: auto;



            }

            .padding-date{
                padding-bottom: 3px;
            }
          

        }


        .align-text{
            padding-left: 27px;
            padding-top: 0;
        }
            
        }
}
