<!--
  Generated template for the HomedisplayPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar>
    <ion-title style="text-align:center">My Expense.io</ion-title>

<!--     <ion-buttons right top>
        <button ion-button icon-only (click)="toggleAppTheme()"><ion-icon name="add-circle"></ion-icon></button>


        
        <ng-template #save>
            <button ion-button (click)="makeNote()"><ion-icon name="checkmark"></ion-icon></button>
            <button ion-button (click)="cancelNote()"><ion-icon name="close"></ion-icon></button>

        </ng-template>

      </ion-buttons> -->
  </ion-navbar>

</ion-header>


<ion-content>


  <div>

      <div *ngIf="changeimg; else otherimg">
       <img src="assets/imgs/test1.png" alt="image" class="dashboard">
      </div>
      <ng-template #otherimg>
          <img src="assets/imgs/test2.png" alt="image" class="dashboard">

      </ng-template>



    <ion-card class="card-dashboard">
        

<!--       <div  *ngIf="montant; else noNote">
 -->        <div>

          <h2 style="text-align: center" ion-text>MA NOTE DE FRAIS </h2>
            
            <h3 class="montant" style="text-align: center"> {{montant}} €</h3>
            <ion-grid>
              <ion-row>
                <ion-col col-9>
              <h6 class="downsize">Dépenses à compléter</h6>
                </ion-col>
              <ion-col>
                <h3  class="upsize">{{nbr_depenses}}</h3>
              </ion-col>
          </ion-row>
     
          <ion-row>
            <ion-col col-9>
            <h6  class="downsize">Sans justificatifs </h6>
          </ion-col>
            <ion-col col-3>
            <h3 class="upsize">{{nbr_depenses}}</h3>
          </ion-col>
          </ion-row>
         </ion-grid>
      </div>
<!--       <ng-template #noNote padding> 
          <div class="noNote">
          <span style="text-align:center">Pas de Note en cours !</span>
          </div>
      </ng-template> -->
    </ion-card>
    <ion-row *ngIf="montant">
        <a class="detail" tappable (tap)="goToDetailEnCours()"> voir détails</a>
      </ion-row>
    </div>

    <img src="assets/imgs/smile(1).png" alt="image" class="smile">

<!-- <span class="ajouter"><h4>AJOUTER</h4></span>
 -->


  <div *ngIf="changeimg; else other" class="position-icons">
    <ion-grid no-padding>
      <ion-row no-padding>
         <ion-col col-6 no-padding>
                <figure no-padding>           
                        <img src="assets/imgs/icone2.png" (click)="goToSaisie()" class="icon-top">
                        <figcaption style="text-align:center" class="top" >IK</figcaption>
                </figure> 
          </ion-col>

            <ion-col col-6 no-padding>
                    <figure no-padding>           
                            <img src="assets/imgs/icone1.png" (click)="goToSaisie()" class="icon-top">
                            <figcaption style="text-align:center" class="top">Dépense</figcaption>
                    </figure> 
            </ion-col>
      </ion-row>    

  </ion-grid>
</div>  
              <figure no-padding>   
            
                  <img src="assets/imgs/icone3.png" (click)="changePicture()" class="icon-bot">
                  <figcaption style="text-align:center" class="bot" >Justificatifs</figcaption>
  
       </figure> 

<ng-template #other>
    <div class="position-icons">
            <ion-grid no-padding>
                    <ion-row no-padding>
                       <ion-col col-6 no padding>
                              <figure>           
                                      <img src="assets/imgs/icone6.png" (click)="goToSaisie()" class="icon-top">
                                      <figcaption style="text-align:center" >IK</figcaption>
                              </figure> 
                        </ion-col>
                          
                          <ion-col col-6 no-padding>
                                  <figure>           
                                          <img src="assets/imgs/icone5.png" (click)="goToSaisie()" class="icon-top">
                                          <figcaption style="text-align:center">Dépense</figcaption>
                                  </figure> 
                          </ion-col>
                    </ion-row>    
                   </ion-grid>
              
    </div>
                  
                            <figure> 
                
                                <img src="assets/imgs/icone4.png" (click)="changePicture()" class="bot icon-bot">
                                <figcaption style="text-align:center" class="bot" >Justificatifs</figcaption>
                        
                      </figure> 
              
</ng-template>


</ion-content>
