.ios, .md{
    page-homedisplay {

            .dashboard{
                //background-image: url("..//home/martin/todo/projects/displayform/src/assets/imgs/fond1.png");      
                height: 55%;
                z-index:-1;
                width: 100%;
                position: absolute;
                top: 0px;
            }

            col{
                padding: 0px;


            }
            .downsize{
                font-size: 15px;
                padding: 7px;
            }
            
 
            .card{
                        border-radius: 2rem;
                        background-color: white;
                        height: 33vh;
                        width: 75%;
                    // padding: 30px;
                        position: relative;
                        top : 5vh;
                        display: block;
                        margin: auto;
                        box-shadow: 20px 20px 30px 20px rgba(0,0,0,0.15), -20px 0px 30px 0px  rgba(0,0,0,0.12);
                    }
                    
                h2{
                    text-align: center;
                   // color: color($colors, light, base);
                    padding-top: 3px;
                    
                }
                    

                    .montant{
                        font-size: 27px;
                        font-weight: 600;
                        padding-top: 8px;
                    }
                

                .upsize{
                    font-size : 20px;
                    font-weight: bold; 
                    text-align: center;
                }  
            
            .detail{
                z-index: 10;

                top: 5px;
                position: relative;
                margin: auto;
                font-style: italic;
                //background: white;
            }

            .smile{
                position: relative;
                top : 6vh;
                width: 14vh;
                display: block;
                margin: auto;


            }
/*             .noNote{
                margin: auto;
                font-size: 22px;
           
                padding-top: 50px;
                text-align: center;
            } */

/*         .ajouter{
            top: 30px;;
            position: relative;
            left: 10px;;
          
        }  */   

        .position-icons{
            top: 2vh;
            position: relative;
            margin:0px !important; 
            // color: color($colors, light, base);
        
             
               // background: gray;
              // border:1px solid #a5a1a1;   //separateline
                
            
            

            
            }
            .bot {
                position: relative;
                top: 10vh;
                //z-index: 10;

            } 
            .top{
                top:12vh;
                position: relative;
            }
         
            .icon-bot{
               // top: -20px;
                z-index: 10;
                height: 14vh;
                top: 10vh;

                position: relative;
                margin: auto;
                display: block;
                //padding: 0px !important;
   

            }

            .icon-top{
                height: 14vh;
                //z-index: 1;
                top: 12vh;
                margin: auto;
                display: block;
                //padding: 0px !important;
                position: relative;
               /*  padding-left: 0px;
                padding-right: 0px; 
               padding-top:0px; */

            }

        



}
}
