<!--
  Generated template for the DashPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Gestion database</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

<!--     <h2>API google</h2>
    <button ion-button (click)="getResto()">Get resto</button>
    <ion-list *ngFor="let o of restaurants">
        <ion-item>
          <ion-avatar item-left>
            <img src="assets/imgs/logo.png" alt="Avatar">
          </ion-avatar>
            <h2>{{o.name}}</h2>
        </ion-item>
      </ion-list> -->
      <button ion-button (click)="loadDepenses()">Show Dépenses </button>
      <button ion-button (click)="loadNotes()">Show Notefrais</button>
      <button ion-button (click)="checkNoteEnCours()">Check en cours</button>
      <button ion-button (click)="deleteNote()">Supprimer note</button>
      <button ion-button (click)="deleteTables()">delete tables</button>
      <button ion-button (click)="goToDepenses()">Dépenses</button>

      <button ion-button (click)="createNote()">Create Notefrais</button>

      <div *ngIf="depenses">
      <ion-list *ngFor="let dep of depenses ">
        <ion-item>
          {{ dep.titre}}
         <!--  {{dep.id}} -->
          {{dep.id}}
        </ion-item>

      </ion-list>
      </div>

      <div *ngIf="notes">
          <ion-list *ngFor="let note of notes ">
            <ion-item tappable (tap)="goToDetailNote(note)">
              {{note.titre}}
              {{note.id}}
              {{note.status}} 
              
            </ion-item>
    
          </ion-list>
      </div>

     

</ion-content>
