
        <button  full outline (click)="toggleAccordion()" ion-button  item-right ><ion-icon color="dark" [name]="icon"></ion-icon></button>
         
        <div #cc>
                <ng-content></ng-content>
          
        </div>
    